blockquote {
  @include colorize_god($hell-color, $heaven-color);
  @include quotation_marks($quote-size, $pillar-color, $god-space);
  border: 0 !important;
  font-size: $god-spoke;
  a {
    font-style: italic;
  }
  @media (max-width: $god-tight) {
    width: 100% !important;
  }
  strong {
    @include fixed_width(98%);
    display: block;
    margin-top: $personal-space;
    padding-right: $god-space;
  }
}
