menu {
  @include polite();
  background: black;
  position: sticky;

  z-index: 5000;
  nav {
    background: black;
  }
  a,
  label {
    color: white;
  }
  a:hover {
    background: $god-blushed;
    color: black;
  }
  a.active {
    background: $hell-color;
    font-weight: bold;
  }
}
