@charset "UTF-8";

/* god theme: Call me to include god in your SASS projects.*/

body > h1 {
  font-size: 150%;
}

body > h2 {
  font-size: 129.2%;
}

body > h3 {
  font-size: 116.7%;
}

body > h4 {
  font-size: 108.3%;
}

body > h5 {
  font-size: 104.2%;
}

body > h6 {
  font-size: 100%;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > p,
body > ol,
body > ul,
body > dl,
body > hr,
body > footer,
body > pre,
body > form,
body > article {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0  30%  0  30%  !important;
  padding: 12px 1%;
  line-height: 150%;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > p,
  body > ol,
  body > ul,
  body > dl,
  body > hr,
  body > footer,
  body > pre,
  body > form,
  body > article {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }
}

@media screen and (max-width: 800px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > p,
  body > ol,
  body > ul,
  body > dl,
  body > hr,
  body > footer,
  body > pre,
  body > form,
  body > article {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 12px !important;
    margin-right: 12px !important;
    padding: 3px;
  }
}

body > blockquote,
body > div,
body > figure {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 29% !important;
  break-before: always !important; /* give way on right */
  clear: right;
  float: right;
  margin-left: 1% !important;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > blockquote,
  body > div,
  body > figure {
    width: 32.9% !important;
  }
}

@media screen and (min-width: 1301px) {
  body > blockquote,
  body > div,
  body > figure {
    width: 27.83% !important;
  }
}

body > header,
body > menu,
body > nav {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 29% !important;
  clear: left;
  float: left;
  margin-right: 1% !important;
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > header,
  body > menu,
  body > nav {
    full: 3.9%;
    width: 32.9% !important;
  }
}

@media screen and (min-width: 1301px) {
  body > header,
  body > menu,
  body > nav {
    full: 3.9%;
    width: 27.83% !important;
  }
}

@media screen and (max-width: 800px) {
  body > blockquote,
  body > div,
  body > figure,
  body > header,
  body > menu,
  body > nav {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px 1%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  body > blockquote,
  body > div,
  body > figure,
  body > header,
  body > menu,
  body > nav {
    margin-bottom: 15.6px !important;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  body > blockquote,
  body > div,
  body > figure,
  body > header,
  body > menu,
  body > nav {
    margin-bottom: 19.2px !important;
  }
}

@media screen and (min-width: 1301px) {
  body > blockquote,
  body > div,
  body > figure,
  body > header,
  body > menu,
  body > nav {
    margin-bottom: 22.8px !important;
  }
}

body > ol > li {
  margin-left: 12px !important;
}

body > ol > li > * {
  display: inline;
}

@media screen and (max-width: 1000px) {
  body > ol > li {
    list-style: inside;
  }
}

body > ul > li {
  margin-left: 12px !important;
}

body > ul > li > * {
  display: inline;
}

@media screen and (max-width: 1000px) {
  body > ul > li {
    list-style: inside;
  }
}

body > img {
  max-width: 40% !important;
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

body > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

body > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

body > .adonStatus-fixed {
  position: fixed;
}

body > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  body > .adonStatus-sticky {
    position: relative;
  }

  body > .adonStatus-fixed {
    position: relative;
  }
}

body > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1000px) {
  body > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

body > .adonToolBar.slavehidden {
  margin-top: 12px !important;
  background-color: #0d0a00 !important;
}

body > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 500ms linear 0s, all 500ms;
  visibility: visible;
}

body > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0  !important;
  line-height: 0;
  transition: visibility 0s linear 500ms, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

body > blockquote.adonToolBar,
body > div.adonToolBar,
body > figure.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 1000px) {
  body > blockquote.adonToolBar,
  body > div.adonToolBar,
  body > figure.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 1000px) {
  body > .adonHideOnScrollDown {
    transition: all 500ms;
    transition-timing-function: ease-in;
    -webkit-transition: all 500ms;
    -webkit-transition-timing-function: ease-in;
  }

  body > .adonHideOnScrollDown.adonHide {
    top: -500px;
  }
}

body > .adonNavScrollLink {
  cursor: pointer !important;
}

body > .adonNavScrollLink.adonnavactive {
  background-color: #0d0a00 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font: 400 100% "Montserrat";
  margin: 0;
}

menu {
  box-sizing: border-box;
  position: relative;
}

menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

menu * {
  box-sizing: border-box;
}

menu a {
  text-decoration: none;
}

menu label {
  font-weight: bold;
}

menu a,
menu label {
  cursor: pointer;
  display: block;
  padding: 3px 12px;
  white-space: nowrap;
}

menu a img,
menu label img {
  height: 50px;
  width: auto !important;
}

menu menu,
menu nav {
  margin: 0;
  padding: 0 12px;
}

menu > menu > menu,
menu > nav > nav {
  display: none;
  visibility: hidden;
}

menu > menu:hover > menu,
menu > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

menu > a,
menu > menu,
menu > nav {
  float: left;
}

menu menu:hover > label + menu,
menu menu:hover > label + nav,
menu nav:hover > label + menu,
menu nav:hover > label + nav {
  position: absolute;
}

nav {
  box-sizing: border-box;
}

nav:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

nav * {
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  display: block;
}

nav label {
  font-weight: bold;
}

nav a,
nav label {
  cursor: pointer;
  display: block;
  padding-right: 25px !important;
  white-space: nowrap;
}

nav menu,
nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

nav > menu > menu,
nav > nav > nav {
  display: none;
  visibility: hidden;
}

nav > menu:hover > menu,
nav > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

details {
  background: #fcd7b5;
  border: #fabc84 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: #fabc84;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

details > * {
  padding: 3px 12px;
}

dl {
  padding: 12px 0;
}

dl > dt {
  background: #fcd7b5;
  color: #181818;
  font-size: 130%;
  font-weight: bold;
  margin: 0;
  padding: 3px;
}

dl > dd {
  margin: 12px;
}

figure {
  border: 1px #fcd7b5 solid;
  box-sizing: border-box;
  padding: 12px 12px  !important;
}

figure figcaption {
  color: #0d0a00;
  font-family: "Montserrat";
  margin-top: 12px;
}

@media screen and (max-width: 800px) {
  figure {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

form label {
  margin-top: 12px;
}

form legend {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 1%;
  margin-top: 1%;
}

form label,
form legend {
  color: #fabc84;
  font-family: "Montserrat";
}

form textarea {
  width: 100%;
}

form input[type=checkbox],
form input[type=radio] {
  margin-right: 3px;
}

form input[type=checkbox] + label,
form input[type=radio] + label {
  color: #fabc84;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 12px;
  page-break-before: avoid;
}

form fieldset {
  border: 1px #fcd7b5 solid;
  margin-top: 12px;
  padding: 0 12px;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 12px;
}

form fieldset input[type=email],
form fieldset input[type=number],
form fieldset input[type=password],
form fieldset input[type=search],
form fieldset input[type=tel],
form fieldset input[type=text],
form fieldset input[type=url],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input[type=color],
form fieldset input[type=range] {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: middle;
}

form fieldset input[type=date],
form fieldset input[type=time],
form fieldset input[type=datetime],
form fieldset input[type=datetime-local],
form fieldset input[type=month],
form fieldset input[type=week] {
  margin-bottom: 12px;
}

form fieldset button,
form fieldset input[type=submit],
form fieldset input[type=reset] {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  form {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

header {
  font-size: 130%;
  padding: 1%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 12px;
  margin-top: 12px;
}

hr {
  border: 1px #fcd7b5 solid;
  margin-bottom: 12px;
  margin-top: 12px;
}

img {
  height: auto;
}

@media screen and (max-width: 1000px) {
  img {
    padding: 3px 3px  !important;
  }
}

figure img {
  box-sizing: border-box;
  margin: 0 0  !important;
  padding: 0 0  !important;
  width: 100%;
}

pre {
  background: #fcd7b5;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 800px) {
  pre {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 3px 12px;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #0d0a00;
  font-family: "Montserrat";
  font-weight: 800;
}

table > thead th {
  border-bottom: 1px solid #fcd7b5;
}

table > tfoot th {
  border-top: 1px solid #fcd7b5;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 1px solid #fcd7b5;
}

@media screen and (max-width: 800px) {
  table {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 130%;
}

input[type=file],
button {
  background: #fff;
  color: #0d0a00;
  border-radius: 5px;
  border: 1px #fcd7b5 solid;
  cursor: pointer;
  display: inline-block;
  font-size: 130%;
  padding: 3px 12px;
  text-decoration: none;
}

input[type=file] > img,
button > img {
  max-height: 88px;
  height: auto;
}

input[type=file]:hover,
input[type=file].selected,
input[type=file].active,
button:hover,
button.selected,
button.active {
  background: #0d0a00;
  border: 1px #fcd7b5 solid;
  color: #fff;
}

input[type=file]:disabled,
button:disabled {
  background: #0d0a00;
  border: 0;
  color: #fff;
  cursor: not-allowed;
}

input[type=file] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(252, 215, 181, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #0d0a00;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 12px;
}

small {
  font-size: 130%;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6 {
  font-family: "Montserrat";
  font-weight: 800;
}

body > h1 cite,
body > h2 cite,
body > h3 cite,
body > h4 cite,
body > p cite,
body > ol cite,
body > ul cite,
body > dl cite,
body > hr cite,
body > footer cite,
body > pre cite,
body > form cite,
body > article cite {
  background-color: #fff;
}

body > h1 var,
body > h2 var,
body > h3 var,
body > h4 var,
body > p var,
body > ol var,
body > ul var,
body > dl var,
body > hr var,
body > footer var,
body > pre var,
body > form var,
body > article var {
  background-color: #ffd340;
}

@media screen and (max-width: 800px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > p,
  body > ol,
  body > ul,
  body > dl,
  body > hr,
  body > footer,
  body > pre,
  body > form,
  body > article {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 1% !important;
    margin-right: 1% !important;
    padding-bottom: 3% !important;
    padding-top: 3% !important;
    border: 0;
    width: 98% !important;
  }
}

body > blockquote {
  background: #fabc84;
  color: #181818;
  quotes: "“" "”" "‘" "’";
  padding-top: 25px !important;
  padding-bottom: 100px !important;
  border: 0 !important;
  font-size: 130%;
}

body > blockquote:before {
  content: open-quote;
  color: #0d0a00;
  display: inline;
  font-size: 200px;
  height: 0;
  left: 1%;
  line-height: 0;
  position: relative;
  top: 66.6666666667px;
}

body > blockquote::after {
  content: close-quote;
  color: #0d0a00;
  display: inline;
  float: right;
  font-size: 200px;
  height: 0;
  line-height: 0;
  position: relative;
  right: 1%;
  top: 66.6666666667px;
}

body > blockquote a {
  font-style: italic;
}

@media (max-width: 800px) {
  body > blockquote {
    width: 100% !important;
  }
}

body > blockquote strong {
  width: 98% !important;
  max-width: 98% !important;
  min-width: 98% !important;
  display: block;
  margin-top: 12px;
  padding-right: 1%;
}

body > figure {
  background: #fabc84;
  color: #fff;
  border: 0;
}

body > figure img {
  width: 100%;
  height: auto;
}

body > footer {
  border: none;
  border-top: 2px solid #0d0a00;
  font-size: 0.75rem;
  padding: 1%;
  text-align: center;
}

body > footer img {
  height: auto;
  max-width: 99%;
}

body > footer label {
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  body > footer {
    width: 94% !important;
  }
}

body > nav {
  background: #181818;
  border: 0;
  color: #fff;
  box-sizing: border-box;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  position: -webkit-sticky;
  padding-left: 12px;
  top: 0;
  z-index: 5000;
}

body > nav:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

body > nav * {
  box-sizing: border-box;
}

body > nav a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

body > nav label {
  font-weight: bold;
  text-transform: uppercase;
}

body > nav a,
body > nav label {
  cursor: pointer;
  display: block;
  padding: 6px 3px;
  white-space: nowrap;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
}

body > nav a img,
body > nav label img {
  height: 48px;
  width: auto !important;
}

body > nav menu,
body > nav nav {
  margin: 0;
  padding: 0;
}

body > nav > menu > menu,
body > nav > nav > nav {
  display: none;
  visibility: hidden;
}

body > nav > menu:hover > menu,
body > nav > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

body > nav nav,
body > nav menu,
body > nav a,
body > nav label {
  background: #181818;
  border: 0;
  color: #fff;
}

body > nav menu > nav {
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.5, 0.7, 0, 1);
}

body > nav a,
body > nav menu {
  display: block;
}

body > nav a:visited {
  color: #fcd7b5;
}

body > nav a:hover,
body > nav label:hover {
  background: #fff;
  border: 0;
  color: #181818;
}

body > nav > a:first-child,
body > nav > a:last-child {
  border-bottom: 0;
}

body > pre {
  background: #fcd7b5;
  border: 0;
  color: #000;
  margin-bottom: 50px !important;
  margin-top: 20px !important;
}
/*# sourceMappingURL=sloth.css.map */
