nav {
  @include polite();
  background: black !important;
  position: sticky;

  a,
  label {
    color: white !important;
    @include pillar_padding($inline-padding, $inline-padding);
  }
  menu:hover > label,
  nav:hover > label,
  label.active,
  a:hover {
    background: $god-blushed;
    color: black !important;
  }
  a.active {
    background: $hell-color;
    font-weight: bold;
  }
}
