nav {
  @include colorize_god($heaven-color, white);
  @include innocent_menus(0, 48px);
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  position: -webkit-sticky;
  padding-left: $personal-space;
  top: 0;
  z-index: 5000;

  nav,
  menu,
  a,
  label {
    @include colorize_god($heaven-color, white);
  }

  menu > nav {
    transition: all $transition;
    transition-timing-function: cubic-bezier(0.5, 0.7, 0, 1);
  }

  a,
  menu {
    display: block;
  }

  a,
  label {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 6px 3px;
    overflow: hidden;
  }

  label {
    text-transform: uppercase;
  }

  a {
    border-bottom: white solid 1px;
  }

  a:visited {
    color: $god-blushed;
  }

  a:hover,
  label:hover {
    @include colorize_god(white, $heaven-color);
  }

  > a:first-child,
  > a:last-child {
    border-bottom: none;
  }
  // Visible
  menu:hover > nav {
  }
}
