menu {
  @include colorize_god($heaven-color, $god-blushed);
  position: sticky;
  position: -webkit-sticky;
  padding-left: $personal-space;
  top: 0;
  z-index: 5000;

  nav {
    @include colorize_god($heaven-color, white);
  }

  a,
  label {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: $personal-space $inline-padding;
  }

  a:visited {
    color: $god-blushed;
  }

  a:hover,
  label:hover {
    @include colorize_god(white, black);
  }
}
