section, .in9 {
  column-count: 3 !important;
  &.in4 {
    column-count: 2 !important;
  }
  &.in12 {
    column-count: 4 !important;
  }
  /* 4UTODO: add column-count moz kits here. */
  /* column-gap !useful but not important  */
  column-gap: $personal-space;
  /* 4UTODO: add column-gap moz kits here. */
  /* 4UTODO: handle column-counts for small @media widths */
  > figure {
    display: block-inline !important;
    break-inside: avoid !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: $personal-space !important;
    padding: $personal-space !important;
    text-align: center !important;
    > a {
      display: block !important;
      box-sizing: border-box !important;
      padding: 0 !important;
      font-size: $god-spoke ;
    }
  }
}
